* {
	padding: 0;
	margin: 0;
	font-family: Copperplate, Papyrus, fantasy;
}

body {

	background: url(img/DOCTOR3.png), url(img/back3.png);
	background-size: 200px;
}

button {
	color: white;
	width: 250px;
	height: 50px;
	border: 8px groove #9064BD;
	background: #380072;
	border-radius: 15px;
	cursor: pointer;
}

video {
	border-radius: 10px;
	border: 8px groove #9064BD;
}

div#topo {
	margin-top: 25px;
	margin-bottom: 50px;
}

#topo h2 {
	color: #9064BD;
	text-align: center;
	font-size: 100px;
}